@font-face {
    font-family: 'inter-semibold';
    src: url(assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'inter-bold';
    src: url(assets/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: 'inter-extrabold';
    src: url(assets/fonts/Inter-ExtraBold.ttf);
}


@font-face {
    font-family: 'inter-regular';
    src: url(assets/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'inter-medium-italic';
    src: url(assets/fonts/Inter-MediumItalic.ttf);
}

@font-face {
    font-family: 'inter-semibold-italic';
    src: url(assets/fonts/Inter-SemiBoldItalic.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'inter-regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FDFDFD;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}

.fixedPosition{
    overflow: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 80px;
}

/* MOBILE FIRST - IPHONE XS MAX */
.container {
    width: 90%;
    margin: auto;
}

    /* STARS */
    .container .star-1{
        position: absolute;
        top: 11vh;
        left: 9vw;
    }
    .container .star-2{
        position: absolute;
        top: 59vh;
        right: 13vw;
    }

    .container .star-3{
        position: absolute;
        top: 227vh;
        right: 12vw;
    }

    .container .star-4{
        position: absolute;
        top: 323vh;
        left: 10vw;
    }

    /* CONTACT-US STARS */

    .contact-us .star-5 {
        position: absolute;
        top: 9.5vh;
        right: 14vw;
        color: white !important;
        padding: 0 !important;
    }

    .contact-us .star-6 {
        position: absolute;
        top: 57.5vh;
        left: 9.5vw;
        color: white !important;
        padding: 0 !important;
    }


    /* MENU STARS */

    .container .main-nav .main-menu .star-1-menu{
        font-size: 32px;
        position: absolute;
        top: 68vh;
        right: 37.5vw;
        color: white !important;
    }

    .container .main-nav .main-menu .star-2-menu{
        font-size: 32px;
        position: absolute;
        top: 7.5vh;
        right: 13vw;
        color: white !important;
    }

    /* ANIMATE */
    .animation-star-menu{
        animation-name: rot;
        animation-duration: 5s;
        animation-fill-mode: both;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
    }

    /* KEYFRAMES */
    @keyframes rot{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    

/* ----------- NAV ------------ */

.main-nav{
    background-color: #FDFDFD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

    /* iPHONE X - Portrait */
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

        .main-nav{
            padding-top: 12px;
        }

    }
    

.main-nav .wrapper {
    display: none;
}

.main-nav .hamburger-menu{
    display: flex;
    align-items: center;
}

.main-nav .hamburger-menu h4 {
    font-family: 'inter-semibold';
    letter-spacing: -0.5px;
    margin-left: 8px;
    font-size: 10px;
}

.main-nav .hamburger{
    cursor: pointer;
}

.hamburger div {
    height: 2px;
    background-color: #000;
    width: 20px;
    margin-bottom: 2px;
}

.hamburger .line-3 {
    width: 15px;
}

.main-nav .menu-btn{
    font-size: 10px;
    font-family: 'inter-bold';
    color: #fff;
    background-color: #000;
    padding: 5px 12px;
    border-radius: 3px;
}

/* ----------- MAIN MENU ------------ */
     .main-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        background-color: #000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 90px 40px;
        font-family: 'inter-bold';
        /* for toggle */
        transform: translateX(-120%);
        transition: transform 0.7s ease-in-out;
        box-shadow: 10px 10px 20px #aaaaaa;
    }

        /* iPHONE X - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) {
            
            .main-menu{
                padding: 70px 45px;
            }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .main-menu{
                padding: 65px 40px;
            }

        }

    

     .main-menu.show {
        transform: translate(0);
    }

    /* ----- Hamburger close ------ */

     .main-menu .hamburger-close-wrap{
        font-family: 'inter-semibold';
        margin-left: 10px;
        color: #fff;
        position: absolute;
        top: 25px;
        left: 5px;
        display: flex;
        align-items: center;
        letter-spacing: -0.5px;
    }

     .main-menu .hamburger-close{
        cursor: pointer;
    }

     .main-menu .hamburger-close-wrap h4{
        margin-left: 12px;
        font-size: 10px;
    }

     .main-menu .hamburger-close div{
        height: 2px;
        background-color: #fff;
        width: 20px;
        margin-bottom: 2px;
    }

     .main-menu .hamburger-close .line-1{
        transform: rotate(45deg) translateY(-2px) translateX(7px);
    }

     .main-menu .hamburger-close .line-2{
        transform: rotate(-45deg) translateY(4px) translateX(5px);
    }

        /* iPHONE X - Portrait */
         @media only screen 
         and (device-width : 375px) 
         and (device-height : 812px) 
         and (-webkit-device-pixel-ratio : 3) {
             
             .main-menu .hamburger-close-wrap{
                top: 15px;
                left: 5px;
            }

        }

    /* ----- Links ------ */
    .main-menu-links li a {
        color: #fff;
    }

     .main-menu-links li a:hover {
        color: #C9C9C9
    }

     .main-menu-links li {
        font-size: 40px;
        margin-bottom: 25px;
    }

        /* iPHONE X - Portrait */   
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) {
            
            .main-menu-links li{
                font-size: 35px;
                margin-bottom: 22px;
            }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .main-menu-links li{
                font-size: 30px;
                margin-bottom: 15px;
            }

        }

    

     .main-menu-links li:nth-child(3) {
        margin: 0;
    }

    /* ----- Spacer ------ */
     .main-menu .spacer{
        background-color: #fff;
        height: 2px;
        border-radius: 50px;
    }

    /* ----- Info ------ */
     .main-menu .info {
        color: #fff;
        font-family: 'inter-regular';
        font-size: 12px;
        margin-top: 10px;
    }

     .main-menu .info h3{
        font-family: 'inter-semibold';
        letter-spacing: -1px;
        margin-bottom: 10px;
    }

    .main-menu .info .btn {
        display: inline-block;
        font-size: 10px;
        margin-top: 20px;
        color: #000;
        background-color: #fff;
        padding: 12px 40px;
        border-radius: 3px;
    }

/* ----------- HEADER ------------ */

.showcase {
    margin: 210px 0 0 10px;
}

        /* iPHONE X - Portrait */   
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) {
            
            .showcase {
                margin: 185px 0 0 10px;
            }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .showcase {
                margin: 140px 0 0 10px;
            }

        }

.showcase h1{
    font-family: 'inter-extrabold';
    letter-spacing: -0.8px;
    font-size: 42px;
    line-height: 42px;
    font-weight: 900;
}

        /* iPHONE X - Portrait */   
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) {
            
            .showcase h1{
                font-size: 38px;
                line-height: 40px;
            }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .showcase h1{
                font-size: 38px;
                line-height: 38px;
            }

        }

.showcase h2 {
    font-family: 'inter-semibold';
    font-size: 1.0em;
    color: #707070;
    margin-bottom: 5px;
}

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .showcase h2 {
            font-size: 0.8em;
        }

        }

.showcase h6 {
    margin-top: 1vh;
    color: #909090;
    font-family: 'inter-regular';
    font-size: 0.6em;
    letter-spacing: -0.9px;
}

.showcase .showcase-btn {
    display: inline-block;
    font-family: 'inter-semibold';
    background-color: #000;
    color: white;
    font-size: 0.6em;
    margin-top: 50px;
    padding: 14px 40px;
    border-radius: 5px;
}

        /* iPHONE X - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { 

        .showcase .showcase-btn {
            padding: 13px 35px;
        }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
        .showcase .showcase-btn {
            margin-top: 40px;
            padding: 14px 30px;
        }

        }

/* ----------- MORE INDICATOR ------------ */
.more-indicator{
    text-align: center;
    font-family: 'inter-semibold';
    font-size: 12px;
    margin-top: 90px;
    opacity: 0;
}

        /* iPHONE X - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { 

            .more-indicator{
                margin-top: 60px;
            }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .more-indicator{
                margin-top: 50px;
                font-size: 10px;
            }

        }



.mt{
    margin-top: 50px;
}

/* ANIMATE */
.animation-more{
    animation-name: drive;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

/* KEYFRAMES */
@keyframes drive{
    from{
        transform: translateY(0);
        opacity: 0
    }
    to{
        transform: translateY(15px);
        opacity: 1
    }
}

/* ----------- PROJECTS ------------ */

.projects .img{
    width: 100%;
    height: 200px;
    margin-top: 60px;
}

        /* iPHONE X - Portrait */
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

            .projects .img{
                height: 190px;
                margin-top: 45px;
            }

    }

    /* iPHONE 8 - Portrait */
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
        
            .projects .img{
                margin-top: 40px;
            }

    }

.projects .section-1 .img{
    background-image: url('./assets/projects/1.jpg');
    background-repeat: no-repeat;
    background-position: 0px -30px; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}

.projects .section-2 .img{
    background-image: url('./assets/projects/2.jpg');
    background-repeat: no-repeat;
    background-position: center; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}


.projects .section-3 .img{
    background-image: url('./assets/projects/3.jpg');
    background-repeat: no-repeat;
    background-position: 0px -30px; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}


.projects h3{
    font-family: 'inter-semibold';
    font-size: 12px;
    margin: 20px 0 5px 0;
    letter-spacing: -0.9px;
}

.projects h2{
    font-family: 'inter-bold';
    font-size: 22px;
    letter-spacing: -0.9px;
}

.projects p{
    color:  #7B7B7B;
    font-family: 'inter-bold';
    margin-top: 15px;
    letter-spacing: -0.9px;
}

/* ----------- ABOUT US ------------ */
.about-us {
    display: grid;
    row-gap: 20px;
    column-gap: 35px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 70px;
}

        /* iPHONE X - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { 

            .about-us {
                margin-top: 60px;
                row-gap: 15px;
                column-gap: 30px;
            }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .about-us {
                margin-top: 50px;
                row-gap: 12px;
                column-gap: 30px;
            }

        }

.about-us .img{
    width: 100%;
    height: 160px;
    border-radius: 5px;
}

.about-us .card-1 .img{
    background-image: url('./assets/about-us/about-us-1.jpg');
    background-repeat: no-repeat;
    background-position: 0 -5px; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}
.about-us .card-2 .img{
    background-image: url('./assets/about-us/about-us-2.jpg');
    background-repeat: no-repeat;
    background-position: 0 -10px; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}
.about-us .card-3 .img{
    background-image: url('./assets/about-us/about-us-3.jpg');
    background-repeat: no-repeat;
    background-position: center; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}
.about-us .card-4 .img{
    background-image: url('./assets/about-us/about-us-4.jpg');
    background-repeat: no-repeat;
    background-position: 0 -3px; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}

.about-us .card-5 .img{
    background-image: url('./assets/about-us/about-us-5.jpg');
    background-repeat: no-repeat;
    background-position: 0 -2px; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}

.about-us h3{
    font-family: 'inter-bold';
    letter-spacing: -0.9px;
    margin-top: 4px;
}

.about-us p{
    font-family: 'inter-semibold-italic';
    font-size: 10px;
    color: #7B7B7B;
    margin-top: -2px;
}

.about-us .leading{
    font-size: 15px;
}

/* ----------- CONTACT US ------------ */
.contact-us{
    margin-top: 50px;
    background-color: #000;
    color: #fff;
    font-family: 'inter-bold';
    font-size: 25px;
    position: relative;
}

        /* iPHONE X - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { 

            .contact-us{
                margin-top: 45px;
            }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .contact-us{
                margin-top: 40px;
            }

        }

.contact-us h1{
    padding: 45px 0 0 20px;
}

        /* iPHONE X - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { 

            .contact-us h1{
                padding: 40px 0 0 20px;
            }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .contact-us h1{
                padding: 38px 0 0 20px;
            }

        }

.contact-us form{
    width: 70%;
    margin: 0 auto;
    margin-top: 65px;
}

        /* iPHONE X - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { 

            .contact-us form{
                margin-top: 60px;
            }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .contact-us form{
                margin-top: 50px;
            }

        }

.contact-us input[type="text"] {
    display: block;
    background: none;
    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 18px;
    font-family: 'inter-bold';
}

        /* iPHONE X - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { 

            .contact-us input[type="text"] {
                margin-top: 35px;
            }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .contact-us input[type="text"] {
                margin-top: 35px;
            }

        }

::placeholder{
    color: #fff;
    font-size: 18px;
    font-family: 'inter-bold';
}

.contact-us form button{
    margin-top: 5vh;
    margin-bottom: 200px;
    border: 0;
    border-radius: 3px;
    background: none;
    color: black;
    padding: 14px 38px;
    background-color: #fff;
    font-size: 10px;
}

        /* iPHONE X - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 812px) 
        and (-webkit-device-pixel-ratio : 3) { 

            
            .contact-us form button{
                margin-bottom: 180px
            }

        }

        /* iPHONE 8 - Portrait */
        @media only screen 
        and (device-width : 375px) 
        and (device-height : 667px) 
        and (-webkit-device-pixel-ratio : 2) {
            
            .contact-us form button{
                margin-bottom: 160px
            }

        }

/* ----------- FOOTER ------------ */

footer{
    color: #fff;
    background-color: #000;
}

footer .wrapper1 {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 10px;
}

.fa-facebook-square{
    color: #fff !important;
}

.fa-instagram{
    color: #fff !important;
    margin-left: 10px;
}

footer .wrapper1 .middle img{
    width: 90px;
}

footer .wrapper1 .middle p{
    margin-top: 5px;
}

footer .wrapper1 p{
    font-size: 8px;
}

footer .wrapper1 .middle{
    text-align: center;
}

footer .wrapper1 .right{
    text-align: right;
}

footer .wrapper2 {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
}

footer .wrapper2 p{
    font-size: 8px;
}

footer .wrapper2 p:nth-child(1){
    font-family: 'inter-medium-italic';
}

footer .wrapper2 p:nth-child(2){
    font-family: 'inter-bold';
}

/* IPAD SIZES STARTING FROM 9.7"*/

@media only screen 
  and (min-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) 
  and (orientation : portrait){

    img{
        width: 100px;
    }

        /* STARS */
        .container .star-1{
            top: 11.27vh;
            left: 6vw;
        }
        .container .star-2{
            top: 59.5vh;
            right: 13.5vw;
        }
    
        .container .star-3{
            top: 275vh;
            right: 91vw;
        }
    
        .container .star-4{
            top: 394.5vh;
            left: 6vw;
        }

        /* CONTACT-US STARS */

        .contact-us .star-5 {
            position: absolute;
            top: 9.5vh;
            right: 14vw;
            color: white !important;
            padding: 0 !important;
        }

        .contact-us .star-6 {
            position: absolute;
            top: 57.5vh;
            left: 6vw;
            color: white !important;
            padding: 0 !important;
        }

        /* MENU STARS */

        .container .main-nav .main-menu .star-1-menu{
            top: 67.5vh;
            right: 44vw;
        }
    
        .container .main-nav .main-menu .star-2-menu{
            top: 7.5vh;
            right: 13vw;
        }

        /* IPAD PRO 11 STARS */

        @media only screen 
        and (min-device-width: 834px) 
        and (-webkit-min-device-pixel-ratio: 1) 
        and (orientation : portrait){

            /* STARS */
            .container .star-1{
                top: 11.27vh;
                left: 6.5vw;
            }
            .container .star-2{
                top: 59.5vh;
                right: 23.90vw;
            }
        
            .container .star-3{
                top: 263vh;
                right: 90vw;
            }
        
            .container .star-4{
                top: 371.3vh;
                left: 7vw;
            }

            /* CONTACT-US STARS */

            .contact-us .star-5 {
                position: absolute;
                top: 9.6vh;
                right: 24.6vw;
                color: white !important;
                padding: 0 !important;
            }

            .contact-us .star-6 {
                position: absolute;
                top: 57.6vh;
                left: 6.4vw;
                color: white !important;
                padding: 0 !important;
            }

            /* MENU STARS */

            .container .main-nav .main-menu .star-1-menu{
                top: 68.5vh;
                right: 41vw;
            }
        
            .container .main-nav .main-menu .star-2-menu{
                top: 8.5vh;
                right: 24vw;
            }

        }

        /* IPAD PRO 12.9 STARS */
        @media only screen 
        and (min-device-width: 1024px) 
        and (-webkit-min-device-pixel-ratio: 1) 
        and (orientation : portrait){
            
            /* STARS */
            .container .star-1{
                top: 11.27vh;
                left: 6.5vw;
                font-size: 50px;
            }
            .container .star-2{
                top: 59.2vh;
                right: 28.5vw;
                font-size: 50px;
            }
        
            .container .star-3{
                top: 263.5vh;
                right: 90vw;
                font-size: 50px;
            }
        
            .container .star-4{
                top: 359.8vh;
                left: 7vw;
                font-size: 50px;
            }

            /* CONTACT-US STARS */

            .contact-us .star-5 {
                position: absolute;
                top: 9.5vh;
                right: 28.6vw;
                color: white !important;
                padding: 0 !important;
                font-size: 50px;
            }

            .contact-us .star-6 {
                position: absolute;
                top: 45.6vh;
                left: 6.0vw;
                color: white !important;
                padding: 0 !important;
                font-size: 50px;
            }

            /* MENU STARS */

            .container .main-nav .main-menu .star-1-menu{
                top: 68.3vh;
                right: 43.7vw;
                font-size: 50px;
            }
        
            .container .main-nav .main-menu .star-2-menu{
                top: 8.0vh;
                right: 28vw;
                font-size: 50px;
            }
        }

    /* ----------- NAV ------------ */

    .main-nav{
        padding-top: 20px;
    }

    .hamburger div {
        height: 3px;
        background-color: #000;
        width: 28px;
        margin-bottom: 3px;
    }
    
    .hamburger .line-3 {
        width: 22px;
    }

    .main-nav .hamburger-menu h4 {
        font-family: 'inter-semibold';
        letter-spacing: 0px;
        margin-left: 8px;
        font-size: 12px;
    }
    
    .main-nav .menu-btn{
        font-size: 14px;
        font-family: 'inter-bold';
        color: #fff;
        background-color: #000;
        padding: 5px 12px;
        border-radius: 3px;
    }

    /* ----- MAIN MENU ------ */

    .main-menu{
        padding: 15vh 45px;
    }

        /* ----- Links ------ */
        .main-menu-links li {
            color: #fff;
            font-size: 7vh;
        }

        /* ----- Hamburger close ------ */

        .main-menu .hamburger-close-wrap{
            margin-left: 25px;
            top: 25px;
        }

        .main-menu .hamburger-close-wrap h4{
            letter-spacing: -0.5px;
            font-size: 12px;
            margin-top: 2px;
        }

        .main-menu .hamburger-close div{
            height: 3px;
            width: 25px;
        }

        .main-menu .hamburger-close .line-1{
            transform: rotate(45deg) translateY(-2px) translateX(7px);
        }

        .main-menu .hamburger-close .line-2{
            transform: rotate(-45deg) translateY(3px) translateX(5px);
        }


        /* ----- Spacer ------ */
        .main-menu .spacer{
            height: 3px;
        }

        /* ----- Info ------ */
        .main-menu .info {
            font-size: 14px;
        }

        .main-menu .info .btn {
            font-size: 12px;
            padding: 14px 45px;
        }

    /* ----------- HEADER ------------ */

    .showcase {
        margin: 26vh 0 0 10px;
    }

    .showcase h1{
        line-height: 7vh;
    }

    .showcase h2 {
        font-size: 1.2em;
    }

    .showcase h6 {
        font-size: 0.8em;
    }

    .showcase .showcase-btn {
        font-size: 0.8em;
        margin-top: 55px;
        padding: 16px 42px;
    }  

    /* ----------- MORE INDICATOR ------------ */
    .more-indicator{
        margin-top: 14vh;
    }

        /* IPAD PRO 12.9 */
        @media only screen 
        and (min-device-width: 1024px) 
        and (-webkit-min-device-pixel-ratio: 1){
            .more-indicator{
                margin-top: 22vh;
            }
        }
    
    /* ----------- PROJECTS ------------ */

    .projects .img{
        height: 37vh;
        margin-top: 8vh;
    }


    .projects h3{
        font-size: 14px;
    }

    .projects h2{
        font-size: 24px;
    }

    .projects p{
        font-size: 18px;
    }

        /* IPAD PRO 12.9 */
        @media only screen 
        and (min-device-width: 1024px) 
        and (-webkit-min-device-pixel-ratio: 1) 
        and (orientation : portrait){
            .projects{
                margin-top: 7vh;
            }
        }

    /* ----------- ABOUT US ------------ */
    .about-us {
        row-gap: 3vh;
        column-gap: 8vw;
        margin-top: 10vh;
    }

    .about-us .img{
        height: 300px;
        border-radius: 6px;
    }

    .about-us h3{
        margin-top: 10px;
        font-size: 20px;
    }

    .about-us p{
        font-size: 12px;
    }

    .about-us .leading{
        margin-top: 7.5vh;
        font-size: 20px;
    }

    /* MORE INDICATOR */

    .mt{
        margin-top: 4vh;
    }

    /* ----------- CONTACT US ------------ */
    .contact-us{
        margin-top: 7vh;
        font-size: 27px;
    }

    .contact-us h1{
        padding: 55px 0 0 35px;
    }

    .contact-us input[type="text"] {
        font-size: 20px;
    }

    ::placeholder{
        font-size: 20px;
    }

    .contact-us form button{
        font-size: 12px;
    }

    /* ----------- FOOTER ------------ */

    .fa-instagram{
        margin-left: 12px;
        font-size: 40px;
    }

    .fa-facebook-square{
        font-size: 40px;
    }

    footer .wrapper1 .middle img{
        width: 120px;
    }

    footer .wrapper1 .middle p{
        margin-top: 10px;
    }

    footer .wrapper1 .right p{
        font-size: 10px;
    }


    footer .wrapper1 p{
        font-size: 10px;
    }

    footer .wrapper2 {
        padding: 25px 0;
    }

    footer .wrapper2 p{
        font-size: 10px;
    }
    

  }


/* IPAD SIZES STARTING FROM 9.7" LANDSCAPE*/
@media only screen 
  and (min-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation : landscape){

    body{
    
        background-color: red;
    }


  }