@font-face {
    font-family: 'inter-semibold';
    src: url(assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'inter-bold';
    src: url(assets/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: 'inter-extrabold';
    src: url(assets/fonts/Inter-ExtraBold.ttf);
}


@font-face {
    font-family: 'inter-regular';
    src: url(assets/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'inter-medium-italic';
    src: url(assets/fonts/Inter-MediumItalic.ttf);
}

@font-face {
    font-family: 'inter-semibold-italic';
    src: url(assets/fonts/Inter-SemiBoldItalic.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'inter-regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FDFDFD;
    color: #000;
    font-size: 16px;
}

a {
    color: #000;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 80px;
}

.fixedPosition{
    overflow: hidden;
}

/* ---------------------------- */
/* ------ MOBILE FIRST  ------- */
/* ---------------------------- */

/* Mini small devices (small phones, less than 320px) */
/* No media query since this is the default */

.container {
    width: 90%;
    margin: auto;
}

.main-menu-links-desktop{
    display: none;
}

/* ----------- NAV ------------ */

.main-nav{
    background-color: #FDFDFD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.main-nav .hamburger-menu{
    display: flex;
    align-items: center;
}

.main-nav .hamburger-menu h4 {
    font-family: 'inter-semibold';
    letter-spacing: -0.5px;
    margin-left: 7px;
    font-size: 10px;
}

.main-nav .hamburger{
    cursor: pointer;
}

.hamburger div {
    height: 2px;
    background-color: #000;
    width: 20px;
    margin-bottom: 2px;
}

.hamburger div:nth-child(3) {
    width: 15px;
}

.main-nav .menu-btn{
    font-size: 10px;
    font-family: 'inter-bold';
    color: #fff;
    background-color: #000;
    padding: 5px 12px;
    border-radius: 3px;
}

    /* ----------- MAIN MENU ------------ */
    .main-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        background-color: #000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px 5% 16vw;
        font-family: 'inter-bold';
        /* for toggle */
        transform: translateX(-120%);
        transition: transform 0.7s ease-in-out;
        box-shadow: 10px 10px 20px #aaaaaa;
    }

    .main-menu.show {
        transform: translate(0);
    }

    /* ----- Hamburger close ------ */
    .main-menu .hamburger-close-wrap{
        color: #fff;
        display: flex;
        align-items: center;
    }

    .main-menu .hamburger-close{
        cursor: pointer;
    }

    .main-menu .hamburger-close-wrap h4{
        font-family: 'inter-semibold';
        letter-spacing: -0.5px;
        margin-left: 5px;
        font-size: 10px;
    }

    .main-menu .hamburger-close div{
        height: 2px;
        background-color: #fff;
        width: 20px;
        margin-bottom: 2px;
    }

    .main-menu .hamburger-close .line-1{
        transform: rotate(45deg) translateY(3px) translateX(2px);
    }

    .main-menu .hamburger-close .line-2{
        transform: rotate(-45deg) translateY(-1px) translateX(0px);
    }

    /* ----- Links ------ */
    .main-menu-links{
        margin-left: 20px;
    }

    .main-menu-links li a {
        color: #fff;
    }

    .main-menu-links li a:hover {
        color: #C9C9C9
    }

    .main-menu-links li {
        font-size: 9vw;
        margin-bottom: 25px;
    }

    .main-menu-links li:nth-child(3) {
        margin: 0;
    }

    /* ----- Spacer ------ */
    .main-menu .spacer{
        background-color: #fff;
        height: 2px;
        border-radius: 50px;
        width: 90%;
        margin: 0 auto;
    }

    /* ----- Info ------ */
    .main-menu .info {
        color: #fff;
        font-family: 'inter-regular';
        font-size: 12px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .main-menu .info h3{
        font-family: 'inter-semibold';
        letter-spacing: -1px;
        margin-bottom: 10px;
    }

    .main-menu .info .btn {
        display: inline-block;
        font-size: 10px;
        margin-top: 20px;
        color: #000;
        background-color: #fff;
        padding: 10px 35px;
        border-radius: 3px;
    }

/* ----------- HEADER ------------ */

.showcase{
    margin-top: 38vw;
}

.showcase h1{
    font-family: 'inter-extrabold';
    letter-spacing: -0.8px;
    font-size: 11vw;
    line-height: 11vw;
}

.showcase h2 {
    font-family: 'inter-semibold';
    font-size: 15px;
    color: #707070;
    margin-bottom: 5px;
}

.showcase h6 {
    margin-top: 5px;
    color: #909090;
    font-family: 'inter-regular';
    font-size: 10px;
    letter-spacing: -0.9px;
}

.showcase .showcase-btn {
    display: inline-block;
    font-family: 'inter-regular';
    background-color: #000;
    color: white;
    font-size: 10px;
    margin-top: 35px;
    padding: 12px 38px;
    border-radius: 3px;
}

/* ----------- MORE INDICATOR ------------ */
.more-indicator{
    margin-top: 18vw;
    text-align: center;
    font-family: 'inter-semibold';
    font-size: 10px;
    opacity: 1;
}

/* ANIMATE */
.animation-more{
    animation-name: drive;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

/* KEYFRAMES */
@keyframes drive{
    from{
        transform: translateY(0);
        opacity: 0
    }
    to{
        transform: translateY(15px);
        opacity: 1
    }
}

/* ----------- PROJECTS ------------ */
.projects{
    margin-top: 10vw;
}

.projects .img{
    width: 100%;
    height: 45vw;
    margin-top: 10vw;
}

.projects .section-1 .img{
    background-image: url('./assets/projects/1.jpg');
    background-repeat: no-repeat;
    background-position: 0px -10vw; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}

.projects .section-2 .img{
    background-image: url('./assets/projects/2.jpg');
    background-repeat: no-repeat;
    background-position: center; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}

.projects .section-3 .img{
    background-image: url('./assets/projects/3.jpg');
    background-repeat: no-repeat;
    background-position: 0px -10vw; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}

.projects h3{
    font-family: 'inter-semibold';
    font-size: 12px;
    margin: 20px 0 5px 0;
    letter-spacing: -0.9px;
}

.projects h2{
    font-family: 'inter-bold';
    font-size: 22px;
    letter-spacing: -0.9px;
}

.projects p{
    color:  #7B7B7B;
    font-family: 'inter-bold';
    margin-top: 15px;
    letter-spacing: -0.9px;
}

/* ----------- ABOUT US ------------ */
.about-us {
    display: grid;
    row-gap: 6vw;
    column-gap: 10vw;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20vw;
    align-items: center;
}

.about-us .img{
    width: 100%;
    height: 40vw;
    border-radius: 5px;
}

.about-us .card-1 .img{
    background-image: url('./assets/about-us/about-us-1.jpg');
    background-repeat: no-repeat;
    background-position: 0 -1vw; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}
.about-us .card-2 .img{
    background-image: url('./assets/about-us/about-us-2.jpg');
    background-repeat: no-repeat;
    background-position: 0 -5vw; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}
.about-us .card-3 .img{
    background-image: url('./assets/about-us/about-us-3.jpg');
    background-repeat: no-repeat;
    background-position: center; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}
.about-us .card-4 .img{
    background-image: url('./assets/about-us/about-us-4.jpg');
    background-repeat: no-repeat;
    background-position: 0 -1vw; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}

.about-us .card-5 .img{
    background-image: url('./assets/about-us/about-us-5.jpg');
    background-repeat: no-repeat;
    background-position: 0 -.5vw; /* If you only specify one keyword, the other value will be "center" */
    background-size: cover; /* 	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
}

.about-us h3{
    font-family: 'inter-bold';
    letter-spacing: -0.9px;
    margin-top: 4px;
}

.about-us p{
    font-family: 'inter-semibold-italic';
    font-size: 10px;
    color: #7B7B7B;
    margin-top: -2px;
}

.about-us .leading{
    font-size: 15px;
}

/* ----------- MORE INDICATOR ------------ */
.mt{
    margin-top: 10vw;
}

/* ----------- CONTACT US ------------ */
.contact-us{
    margin-top: 15vw;
    background-color: #000;
    color: #fff;
    font-family: 'inter-bold';
    font-size: 25px;
    position: relative;
}

.contact-us h1{
    padding: 45px 0 0 20px;
}

.contact-us form{
    width: 70%;
    margin: 0 auto;
    margin-top: 65px;
}

.contact-us input[type="text"] {
    display: block;
    background: none;
    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 18px;
    font-family: 'inter-bold';
}

::placeholder{
    color: #fff;
    font-size: 18px;
    font-family: 'inter-bold';
}

.contact-us form button{
    margin-top: 40px;
    margin-bottom: 35vw;
    border: 0;
    border-radius: 3px;
    background: none;
    color: black;
    padding: 14px 38px;
    background-color: #fff;
    font-size: 10px;
}

/* ----------- FOOTER ------------ */

footer{
    color: #fff;
    background-color: #000;
}

footer .wrapper1 {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 10px;
}

.fa-facebook-square{
    color: #fff !important;
}

.fa-instagram{
    color: #fff !important;
    margin-left: 10px;
}

footer .wrapper1 .middle img{
    width: 90px;
}

footer .wrapper1 .middle p{
    margin-top: 5px;
}

footer .wrapper1 p{
    font-size: 8px;
}

footer .wrapper1 .middle{
    text-align: center;
}

footer .wrapper1 .right{
    text-align: right;
}

footer .wrapper2 {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
}

footer .wrapper2 p{
    font-size: 8px;
}

footer .wrapper2 p:nth-child(1){
    font-family: 'inter-medium-italic';
}

footer .wrapper2 p:nth-child(2){
    font-family: 'inter-bold';
}

.landscape-mobile-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.landscape-mobile-sign p {
    line-height: 60px;
    font-family: 'inter-bold';
    font-size: 50px;
    text-align: left;
}

.landscape-mobile-sign .star-1-landscape{
    position: absolute;
    right: 22vw;
    top: 10vw;
    font-size: 40px;
}

.landscape-mobile-sign .star-2-landscape{
    position: absolute;
    left: 6vw;
    bottom: 6vw;
    font-size: 40px;
}

.landscape-mobile {
    display: none;
}

/* ---------------------------- */
/* ------- LARGE MOBILE ------- */
/* ---------------------------- */

/* Extra small devices (large phone, 414px and up) */
@media (min-width: 414px) {  

    /* ----- Links ------ */

    .main-menu-links li {
        font-size: 50px;
    }

    /* ----- Info ------ */
    .main-menu .info {
        font-size: 13px;
    }

    .main-menu .info .btn {
        font-size: 12px;
        padding: 12px 40px;
    }

/* ----------- HEADER ------------ */

.showcase{
    margin-top: 50vw;
}

.showcase h2 {
    font-size: 16px;
    margin-bottom: 6px;
}

.showcase h6 {
    margin-top: 6px;
    font-size: 12px;
}

.showcase .showcase-btn {
    font-size: 12px;
    margin-top: 40px;
    padding: 14px 42px;
}

/* ----------- MORE INDICATOR ------------ */
.more-indicator{
    margin-top: 34vw;
    font-size: 12px;
}

/* ----------- PROJECTS ------------ */
.projects{
    margin-top: 15vw;
}

.projects .img{
    margin-top: 12vw;
}

.projects h3{
    font-size: 14px;
}

.projects h2{
    font-size: 24px;
}

.projects p{
    font-size: 16px;
}

/* ----------- ABOUT US ------------ */
.about-us h3{
    font-size: 20px;
}

.about-us p{
    font-size: 11px;
}

.about-us .leading{
    font-size: 16px;
}


/* ----------- MORE INDICATOR ------------ */
.mt{
    margin-top: 12vw;
}

/* ----------- CONTACT US ------------ */
.contact-us{
    margin-top: 18vw;
    font-size: 30px;
}

.contact-us h1{
    padding: 65px 0 0 20px;
}

.contact-us form{
    width: 75%;
    margin-top: 80px;
}

.contact-us input[type="text"] {
    font-size: 20px;
}

::placeholder{
    font-size: 20px;
}

.contact-us form button{
    margin-top: 60px;
    margin-bottom: 40vw;
    padding: 16px 40px;
    background-color: #fff;
    font-size: 12px;
}

/* ----------- FOOTER ------------ */

.fa-facebook-square{
    font-size: 40px;
}

.fa-instagram{
    font-size: 40px;
}

footer .wrapper1 .middle img{
    width: 100px;
}

footer .wrapper1 .middle p{
    margin-top: 6px;
}

footer .wrapper1 p{
    font-size: 9px;
}

footer .wrapper2 p{
    font-size: 9px;
}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  

img{
    width: 100px;
}    

/* ----------- NAV ------------ */

.main-nav{
    padding-top: 20px;
}

.main-nav .hamburger-menu h4 {
    margin-left: 9px;
    font-size: 12px;
}

.hamburger div {
    height: 3px;
    width: 26px;
    margin-bottom: 2.5px;
}

.hamburger div:nth-child(3) {
    width: 18px;
}

.main-nav .menu-btn{
    font-size: 13px;
    padding: 8px 16px;
}    

/* ----------- MAIN MENU ------------ */

    .main-menu{
        padding: 30px 5% 16vw;
    }

    /* ----- Hamburger close ------ */

    .main-menu .hamburger-close-wrap h4{
        margin-left: 5px;
        font-size: 12px;
    }

    .main-menu .hamburger-close div{
        height: 3px;
        width: 26px;
        margin-bottom: 2.5px;
    }

    .main-menu .hamburger-close .line-1{
        transform: rotate(45deg) translateY(3px) translateX(4px);
    }

    .main-menu .hamburger-close .line-2{
        transform: rotate(-45deg) translateY(0px) translateX(1px);
    }

    /* ----- Links ------ */

    .main-menu-links li {
        font-size: 70px;
    }

    /* ----- Spacer ------ */
    .main-menu .spacer{
        background-color: #fff;
        height: 2px;
        border-radius: 50px;
        width: 95%;
        margin: 0 auto;
    }

    /* ----- Info ------ */
    .main-menu .info {
        font-size: 15px;
    }

    .main-menu .info .btn {
        font-size: 14px;
        padding: 14px 50px;
    }

/* ----------- HEADER ------------ */

.showcase{
    margin-top: 35vw;
}

.showcase h1{
    font-size: 9vw;
    line-height: 9vw;
}

.showcase h2 {
    font-size: 18px;
    margin-bottom: 6px;
}

.showcase h6 {
    margin-top: 6px;
    font-size: 14px;
}

.showcase .showcase-btn {
    font-size: 14px;
    margin-top: 55px;
    padding: 16px 45px;
}

/* ----------- MORE INDICATOR ------------ */
.more-indicator{
    margin-top: 25vw;
    font-size: 12px;
}

/* ----------- PROJECTS ------------ */
.projects .img{
    height: 45vw;
    margin-top: 8vw;
}

.projects h3{
    font-size: 16px;
}

.projects h2{
    font-size: 30px;
}

.projects p{
    font-size: 18px;
}

/* ----------- ABOUT US ------------ */
.about-us {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3vw;
    column-gap: 5vw;
    margin-top: 15vw;
}

.about-us .img{
    height: 27vw;
    border-radius: 7px;
}

.about-us h3{
    font-size: 35px;
}

.about-us p{
    font-size: 15px;
}

.about-us .leading{
    font-size: 20px;
}

/* ----------- MORE INDICATOR ------------ */
.mt{
    margin-top: 10vw;
}


/* ----------- CONTACT US ------------ */
.contact-us{
    margin-top: 10vw;
    font-size: 35px;
}

.contact-us h1{
    padding: 80px 0 0 40px;
}

.contact-us input[type="text"] {
    margin-top: 50px;
    height: 40px;
    font-size: 25px;
}

::placeholder{
    font-size: 25px;
}

.contact-us form button{
    padding: 18px 45px;
    font-size: 14px;
    margin-top: 50px;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

/* ----------- NAV ------------ */

.main-nav .hamburger-menu{
    display: none;
}

.main-menu-links-desktop{
    display: flex;
    margin-left: auto;
}

.main-menu-links-desktop li {
    font-family: 'inter-semibold';
    margin-right: 25px;
}

.main-nav .menu-btn{
    font-size: 14px;
    font-family: 'inter-bold';
    padding: 8px 18px;
    border-radius: 3px;
}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }